@charset "EUC-KR";

p { /*p태그 속성 정의*/
	width: 100%;
	height: 60px;
	background: #87CEEB;
	list-style: none;
	padding-top: 15px
}

p {/*p태그 속성 정의*/
	float: center;
	margin-right: 10px;
	font-size: 20px;
	color: black;
	font-weight: bold;
	text-decoration: none;
}
h1 {
	font-size:40px;
}
/*하단 위치와 크기 설정*/
#bottom {
	
    position:absolute;

    bottom:0;

    width:2118px;

    height:100px;   

    background:#ccc;

}
/*상단 위치 설정*/
header #main_menu {
      height:50px;
      margin-top: 15px;
      background-color: #4e4c4d;
}
/*상단 메뉴의 ul 위치 설정 및 padding 크기 맞추기*/
header #main_menu ul {
      padding-top: 9px;
      text-align: center;
}
/*상단 메뉴의 ul 안의 li 속성의 inline 요소로 만듬*/
header #main_menu li {
      display: inline;
      margin: 40px;
}
/*링크 클릭 시 링크 색상 설정*/
header #main_menu a:link {
      color:#ffffff;
}
header #main_menu a:visited {
      color:#ffffff;
}
header #main_menu a:active {
      color:#ffffff;
   }